---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { slugify } from '../../utils/common-utils';
import type { WorkType } from '@/content.config';
import { removeTemplates } from '@/utils/data-utils';

const works = await getCollection('works');
const cleanWorks = removeTemplates(works);
---

<BaseLayout title="Works" description="My works">
    <h1>Works</h1>
    <ul>
        {
            cleanWorks.map((work: WorkType) => (
                <li>
                    <a href={`/works/${slugify(work.data.title)}`}>{work.data.title}</a>
                </li>
            ))
        }
    </ul>
</BaseLayout>
