---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getEntry } from 'astro:content';

const entry = await getEntry('contact', 'index');
const contact = entry?.data;
---

<BaseLayout title={contact?.title} description={contact?.description}>
    <section class="page-hero pb-4">
        <h1>{contact?.title}</h1>
    </section>

    <section class="section pt-0">
        <dl class="grid">
            <dt></dt>
            <dd></dd>
        </dl>
    </section>
</BaseLayout>
