---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getEntry, render } from 'astro:content';

const entry = await getEntry('contact', 'index');
const contact = entry?.data;

const { Content } = await render(entry);
---

<BaseLayout title={contact?.title} description={contact?.description}>
    <section class="page-hero pb-4">
        <h1>{contact?.title}</h1>
    </section>

    <section class="section pt-0">
        <div class="bg-image">
            <div class="text-wrapper">
                <Content />
                <dl class="details-grid">
                    <dt>Email</dt>
                    <dd>tylertaylorcomposer@gmail.com</dd>
                </dl>
            </div>
        </div>
    </section>
</BaseLayout>

<style>
    .bg-image {
        --_padding: var(--spacing-400);
        --_margin-inline: var(--spacing-400);

        position: relative;

        width: calc(100% + var(--_margin-inline) * 2);
        min-height: 30rem;
        margin-inline: calc(-1 * var(--_margin-inline));
        padding-block: var(--_padding);

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background-image: url('../assets/contact-page-background.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            filter: brightness(0.8);
        }
    }

    .text-wrapper {
        display: grid;
        gap: var(--spacing-300);
        width: fit-content;

        background: hsl(0 50 100 / 0.5);
        backdrop-filter: blur(0.2rem);
        color: var(--black);
        z-index: 1;

        border-radius: var(--spacing-200);
        padding: var(--spacing-400);
        margin-inline: var(--spacing-200);
    }

    .details-grid {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    @media (min-width: 768px) {
        .details-grid {
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 1rem 2rem;
        }
    }
</style>
