---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getEntry, render } from 'astro:content';

const entry = await getEntry('contact', 'index');
const contact = entry?.data;

const { Content } = await render(entry);
---

<BaseLayout title={contact?.title} description={contact?.description}>
    <section class="page-hero pb-4">
        <h1>{contact?.title}</h1>
    </section>

    <section class="section pt-0">
        <div class="bg-image">
            <div class="text-wrapper">
                <Content />
            </div>
        </div>
    </section>
</BaseLayout>

<style>
    .bg-image {
        position: relative;
        min-height: 30rem;
        padding-block: var(--spacing-400);

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background-image: url('../assets/contact-page-background.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            filter: brightness(0.8);
        }
    }

    .text-wrapper {
        display: grid;
        gap: var(--spacing-300);
        width: fit-content;

        background: hsl(0, 50%, 100%, 50%);
        backdrop-filter: blur(0.2rem);
        color: var(--black);
        z-index: 1;

        border-radius: var(--spacing-200);
        padding: var(--spacing-400);
        margin-inline: var(--spacing-200);
    }
    .text-wrapper :global(a) {
        color: var(--color-accent-light);
        &:hover {
            color: hsl(from var(--color-accent-light) h s 50%);
        }
    }
</style>
