---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import WorkPreview from '@/components/WorkPreview.astro';
import NewsPreview from '@/components/NewsPreview.astro';
import siteConfig from '../data/site-config';
import { sortItemsByDateDesc, sortWorksByDate } from '../utils/data-utils';

const works = await getCollection('works');
const newestWork = works.sort(sortWorksByDate)[0];

const news = (await getCollection('news'))?.sort(sortItemsByDateDesc);
const featuredNews = news?.slice(0, 3);
---

<BaseLayout description={siteConfig.description} image={siteConfig.image}>
    <Hero />
    {
        featuredNews?.length > 0 && (
            <div class="mb-16 sm:mb-24">
                <h2 class="mb-12 text-xl font-serif italic sm:mb-16 sm:text-2xl">News</h2>
                {featuredNews.map((newsItem) => (
                    <NewsPreview id={newsItem.id} />
                ))}
            </div>
        )
    }
    {
        newestWork && (
            <div class="mb-16 sm:mb-24">
                <h2 class="mb-12 text-xl font-serif italic sm:mb-16 sm:text-2xl">Latest Work</h2>
                <WorkPreview work={newestWork} />
            </div>
        )
    }
</BaseLayout>
