---
import { Image } from 'astro:assets';
import BaseLayout from '@/layouts/BaseLayout.astro';
import AboutNav from '@/components/AboutNav.astro';
import { optimizedImageProps } from '@/constants/images';

const { bio } = Astro.props;
const { title, description, image } = bio.data;
---

<BaseLayout title={title} description={description}>
    <div class="about-header">
        <h1>{title}</h1>
        <AboutNav />
    </div>
    <div class="about">
        {image && <Image src={image} alt="About" class="about-img" width={315} height={315} {...optimizedImageProps} />}
        <slot />
    </div>
</BaseLayout>

<style is:global>
    .about :is(p, img) {
        margin-bottom: 1.5rem;
    }
</style>

<style>
    .about-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .about-img {
        float: left;
        margin-inline-end: 1.5rem;
        margin-block-end: 1.5rem;
    }

    @media (min-width: 768px) {
        .about-img {
            margin-block-end: 0;
        }
    }
</style>
