---
import ExternalPill from '@/components/ExternalPill.astro';
import Pill from '@/components/Pill.astro';
const path = Astro.url.pathname;
---

<ul class="bio-nav">
    <li class:list={{ hidden: path === '/about' || path === '/about/long-bio' }}>
        <Pill href="/about">Long Bio</Pill>
    </li>
    <li class:list={['medium-bio', { hidden: path === '/about/medium-bio' }]}>
        <Pill href="/about/medium-bio">Medium Bio</Pill>
    </li>
    <li class:list={['short-bio', { hidden: path === '/about/short-bio' }]}>
        <Pill href="/about/short-bio">Short Bio</Pill>
    </li>
    <li>
        <ExternalPill href="#">CV</ExternalPill>
    </li>
</ul>

<style>
    .bio-nav {
        display: flex;
        gap: var(--spacing-200);
    }

    .medium-bio,
    .short-bio {
        display: none;
    }

    @media (min-width: 768px) {
        .medium-bio,
        .short-bio {
            display: block;
        }
    }

    .hidden {
        display: none;
    }
</style>
