---
import { RiExternalLinkLine } from 'react-icons/ri';

const { linkUrl, title } = Astro.props;
---

<a class="link" href={linkUrl} target="_blank" rel="noopener noreferrer">
    {title}<RiExternalLinkLine className="link-icon" size="0.9em" />
</a>

<style>
    a {
        margin-block-end: 0;

        .link-icon {
            display: inline-block;
            margin-inline-start: 0.5rem;
        }
    }
</style>
