---
import { Image } from 'astro:assets';
import { getEntry } from 'astro:content';
import PressLatest from '@/components/PressLatest.astro';
import WorkLatest from '@/components/WorkLatest.astro';

const entry = await getEntry('hero', 'index');
const { title, subtitle, image } = entry?.data ?? {};
---

<section id="hero">
    <div class="title-wrapper">
        {title && <h1 class="title">{title}</h1>}
        {subtitle && <p class="subtitle">{subtitle}</p>}
    </div>
    <figure>
        {image && <Image class="w-full" src={image.src} loading="eager" decoding="async" alt={image.alt || ''} height="576" width="768" />}
    </figure>
    <div class="max-w-none prose prose-dante sm:prose-lg content-wrapper">
        <PressLatest />
        <WorkLatest />
    </div>
</section>

<style is:global>
    figure {
        margin-block: var(--spacing-200) var(--spacing-400);
    }

    .title-wrapper {
        margin-block-end: var(--spacing-200);
    }

    .title {
        font-family: Newsreader, ui-serif, Georgia, serif;
        line-height: 1.2;
        font-weight: 500;
        margin: 0;
    }

    .content-wrapper {
        display: grid;
        gap: var(--spacing-400);
    }
</style>
