---
import { getCollection } from 'astro:content';
import NavLink from './NavLink.astro';
import ThemeToggle from './ThemeToggle.astro';
import Social from '@/components/Social.astro';
import siteConfig from '@/config/site-config';
import social from '@/config/social.json';

const navLinks = siteConfig.headerNavLinks || [];
const blogs = await getCollection('blog');
const gallery = await getCollection('gallery');
const news = await getCollection('news');
const linksWithContent = navLinks.filter((link) => {
    if (blogs.length <= 1 && link.href === '/blog') {
        return false;
    }
    if (gallery.length <= 1 && link.href === '/gallery') {
        return false;
    }
    if (news.length <= 1 && link.href === '/news') {
        return false;
    }

    return true;
});
---

<div class="nav-height"></div>
<div class="site-nav">
    <div class="nav-container">
        <div class="nav-main">
            <div class="nav-left">
                <button class="menu-toggle" aria-label="Open Menu" aria-expanded="false" aria-controls="menu-items">
                    <span class="menu-icon"></span>
                </button>
                <a class="site-title" href="/" tabindex="1">
                    <b>Tyler Taylor</b>
                    <span>Composer</span>
                </a>
            </div>

            <div class="nav-right">
                <Social source={social} />
                <ThemeToggle />
            </div>
        </div>

        <nav class="nav-links">
            <ul id="menu-items" class="menu">
                {
                    linksWithContent.map((link) => (
                        <li>
                            <NavLink href={link.href}>{link.text}</NavLink>
                        </li>
                    ))
                }
            </ul>
        </nav>
    </div>
</div>

<style>
    :root {
        --floating-nav-height: 7.5rem;
    }

    .nav-height {
        height: var(--floating-nav-height);
        margin-block-end: 2rem;
    }

    .site-nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        background: var(--color-bg-primary);
        border-bottom: 1px solid hsl(from var(--color-border-primary) h s 40);
    }

    .nav-container {
        max-width: var(--full-page-width);
        margin: 0 auto;
        padding: 1rem;
        display: grid;
        gap: 0.5rem;
    }

    .nav-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-left {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .nav-right {
        display: flex;
        align-items: center;
        gap: var(--spacing-300);
    }

    .site-title {
        display: flex;
        flex-direction: column;
        line-height: 1;
        text-decoration: none;
        color: var(--color-text-primary);
    }

    .site-title b {
        font-size: var(--fs-600);
    }

    .menu {
        display: flex;
        gap: 1.5rem;
    }

    .menu-toggle {
        display: none;
    }

    /* TODO: make this mobile first */
    /* Mobile styles */
    @media (max-width: 768px) {
        :root {
            --floating-nav-height: 5rem;
        }

        .nav-links {
            position: absolute;
            top: 100%;
            left: 1rem;
            background: var(--color-bg-primary);
            border: 1px dashed var(--color-border-primary);
            padding: var(--spacing-300);
            min-width: var(--spacing-800);
            visibility: hidden;
            opacity: 0;
            transform: translateY(-10px);
            transition: all 0.2s ease-in-out;
        }

        .nav-links.is-visible {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
        }

        .menu {
            flex-direction: column;
            gap: 0.5rem;
        }

        .menu-toggle {
            display: block;
            width: 2rem;
            height: 2rem;
            position: relative;
            background: none;
            border: none;
            cursor: pointer;
        }

        .menu-icon,
        .menu-icon::before,
        .menu-icon::after {
            content: '';
            display: block;
            width: 1.5rem;
            height: 2px;
            background: currentColor;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            transition: all 0.2s;
        }

        .menu-icon {
            top: 50%;
        }

        .menu-icon::before {
            top: -6px;
        }

        .menu-icon::after {
            bottom: -6px;
        }

        .menu-toggle.is-active .menu-icon {
            background: transparent;
        }

        .menu-toggle.is-active .menu-icon::before {
            transform: translateX(-50%) rotate(45deg);
            top: 0;
        }

        .menu-toggle.is-active .menu-icon::after {
            transform: translateX(-50%) rotate(-45deg);
            bottom: 0;
        }

        .nav-right {
            gap: var(--spacing-200);
        }
    }
</style>

<script>
    function menuToggle() {
        const toggle = document.querySelector('.menu-toggle');
        const navLinks = document.querySelector('.nav-links');

        toggle?.addEventListener('click', () => {
            const isExpanded = toggle.getAttribute('aria-expanded') === 'true';
            toggle.classList.toggle('is-active');
            toggle.setAttribute('aria-expanded', (!isExpanded).toString());
            toggle.setAttribute('aria-label', isExpanded ? 'Open Menu' : 'Close Menu');
            navLinks?.classList.toggle('is-visible');
        });
    }

    menuToggle();
    document.addEventListener('astro:after-swap', menuToggle);
</script>
