---
import { getEntry, render } from 'astro:content';

const { id } = Astro.props;

const press = await getEntry('press', id);
const { linkText: title, linkUrl, publication } = press?.data ?? {};

const { Content } = await render(press);
---

<li class="press-preview">
    <a class="link" href={linkUrl} target="_blank" rel="noopener noreferrer">
        {title}
    </a>
    <p>{publication}</p>
    {Content && <Content />}
</li>

<style>
    a {
        font-size: var(--fs-400);
        margin-block-end: 0;
    }
</style>
