---
import type { HTMLAttributes } from 'astro/types';

interface Props {
    title: string;
    year: number;
    slug: string;
    ensemble: string;
}

const { title, year, slug, ensemble } = Astro.props;
---

<li>
    <a class="title" href={slug}>{title}</a>
    <span class="for">for</span>
    <div class="ensemble">{ensemble}</div>
    <div class="year">({year})</div>
</li>

<style>
    li {
        display: flex;
        max-width: min(100%, 40rem);
        align-items: baseline;
        gap: 0.4rem;
        margin-inline-start: 1rem;
    }

    .for {
        font-size: var(--fs-300);
    }

    .title {
        font-size: var(--fs-500);
    }

    .ensemble {
        font-size: var(--fs-400);
    }

    .year {
        font-size: var(--fs-300);
        margin-inline-start: 0.25rem;
    }
</style>
