---
interface Props {
    title: string;
    year: number;
    slug: string;
    ensemble: string;
}

const { title, year, slug, ensemble } = Astro.props;
---

<div class="first-line">
    <a class="title" href={slug}>{title}</a>
    <span class="for">for</span>
    <div class="ensemble">{ensemble}</div>
    <div class="year">({year})</div>
</div>

<style>
    .first-line {
        display: flex;
        align-items: baseline;
        gap: var(--spacing-150);
        flex-wrap: wrap;
        line-height: 1;
    }

    .title {
        font-size: var(--fs-500);
    }

    .for,
    .ensemble,
    .year {
        font-size: var(--fs-400);
    }
</style>
